<!DOCTYPE html>
<%# 以下1行は全ページ共通で記載 %>
<% var path = filename.split(gloval.htmlroot).join("");var ejsRoot = "../".repeat(path.split(gloval.file_name_split_string).length -2);if (ejsRoot === ""){ejsRoot = "./";} -%>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<%- include(ejsRoot + 'common/_header.ejs'); -%>
  <section>
    <h1>h1</h1>
    <section>
      <h2>h2</h2>
      <p>p</p>
      <section>
        <h3>h3</h3>
        <p>p</p>
      </section>
      <section>
        <h3>h3</h3>
        <p>p</p>
      </section>
    </section>
    <section>
      <h2>h2</h2>
      <p>p</p>
      <section>
        <h3>h3</h3>
        <p>p</p>
      </section>
      <section>
        <h3>h3</h3>
        <p>p</p>
      </section>
    </section>
  </section>
<%- include(ejsRoot + 'common/_footer.ejs'); -%>
<%- include(ejsRoot + 'common/_script.ejs'); -%>
</body>
</html>